@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Tiny5&display=swap');

html {
  color: rgb(208, 217, 224);
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: whitesmoke;
  font-family: 'Tiny5', sans-serif;
  background-color: #000000;
  box-sizing: border-box;
}

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 2rem;
  display: flex;
  flex-flow: wrap row;
  justify-content: flex-end;
  background-color: rgb(255, 127, 165);
  z-index: 1;

}

.nav-link {
  text-align: center;
  margin-right: 40px;
  margin-top: 0.3rem;
  text-decoration: none;
  color: white;
  display: inline-block;
}

.nav-link:hover {
  color: black;
}
  
 body {
  margin: 0;
  padding: 0;
  z-index: -1;

}

#welcome-section {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  align-items: center;
  background: linear-gradient(
    rgb(255, 127, 165) 20%,
   rgb(235, 0, 157)
   );
}

#welcome-section h1, 
#welcome-section p {
  display: block;
  position: relative;
  top: 30%;
  max-width: 50%;
  text-align: center;
}

#projects {
  width: 100%;
  height: 140vh;
  background: linear-gradient(
    rgb(127, 221, 255) 20%,
   rgb(0, 145, 235)
   );
   margin-top: -30px;
}

h2 {
  text-align: center;
  padding: 2rem;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  grid-auto-flow: dense;
}

.project {
  background: rgba(220, 220, 220, 0.113);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.project-image {
  height: calc(100% - 6.8rem);
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.project-title {
  font-size: 1.7rem;
  padding: 2rem;
  text-align: center;
  color: aliceblue;
  text-wrap: nowrap;
  
}

.project-title.last {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 5px;

}

a {
  text-decoration: none;
}

@media (max-width: 1028px) and (min-width: 685px) {
  #projects {
    height: 190vh;
  }
  .flex-social {
    display: flex;
    flex-flow: wrap column;
    width: 20%;
    margin: 0 auto;
    align-items: center;
  }
 
}

@media (max-width: 684px) and (min-width: 500px) {
  #projects {
    height: 355vh;
  }
  #contact {
    height: 100vh;
  }
  .flex-social {
    display: flex;
    flex-flow: wrap column;
    width: 30%;
    align-items: center;

  }
 
}

#Contact {
  width: 100%;
  height: 90vh;
  background: linear-gradient(
    rgb(5, 255, 238) 20%,
    rgb(17, 147, 138)
   );
  padding-top: 2rem;
}

.flex-social,
.h2 {
  position: relative;
  top: 100px;
}

.flex-social {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  max-width: 50%;
  margin: 0 auto;

}

.social-links {
  display: flex;
  flex-flow: row nowrap;
  color: #000000;
}

.social-links:hover {
  transform: translateY(10px);
}

.fi {
  font-size: 1.6rem;
  padding-right: 5px;
  padding-top: 17px;
}

.img-logo {
  padding-right: 5px;
  padding-top: 13px;
}

  /* media query 
  The height of the welcome section should be equal to the height of the viewport
The navbar should always be at the top of the viewport */